# Base de données Neon PostgreSQL
DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/proxigaz?sslmode=require

# JWT
JWT_SECRET=change_moi_en_production

# Serveur
PORT=4000
API_BASE_URL=https://proxigaz-backend.vercel.app

# Administration
ADMIN_MIGRATE_KEY=change_moi_aussi

# HUB2 Mobile Money
HUB2_BASE_URL=https://api.hub2.io/v1
HUB2_CLIENT_ID=
HUB2_CLIENT_SECRET=
